<div [class.active]="isLoading" class="ui inverted dimmer transition">
  <div class="ui text loader"></div>
</div>

<div class="settings">
  <div class="ui breadcrumb">
    <a [routerLink]="['../list']" class="section">Templates</a>
    <i class="chevron right icon divider"></i>
    <div class="active section">Individual Invoice</div>
  </div>

  <div class="ui info message">
    <div class="content">
      <p>Template settings is configured for a particular currency. Select one currency prior to configuring.</p>
    </div>
  </div>

  <form #settingsForm="ngForm" class="ui form">
    <h4 class="ui dividing header">Currency</h4>
    <div class="currency field">
      <div commonDropdown class="ui selection dropdown">
        <div class="text">{{ currency }}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div *ngFor="let c of supportedCurrencies" (click)="onCurrencyChanged(c)" class="item">
            {{ c }}
          </div>
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Due Note <span class="exp">(When invoice has not been paid yet.)</span></h4>
    <div class="due-note field">
      <div class="variables" style="margin-bottom: 1em">
        <span
          (click)="insertVarIntoDueNote(PredefinedVar.CUSTOMER_WALLET)"
          class="ui tag label"
          style="cursor: pointer"
          >{{ PredefinedVar.CUSTOMER_WALLET }}</span
        >
        <span
          (click)="insertVarIntoDueNote(PredefinedVar.INVOICE_NUMBER)"
          class="ui tag label"
          style="cursor: pointer"
          >{{ PredefinedVar.INVOICE_NUMBER }}</span
        >
      </div>

      <textarea
        tinymce
        #dueNoteEditor="tinymce"
        [value]="unsavedTemplate.individualUnpaidNote"
        (changed)="onDueNoteChanged($event)"
        name="duenote"
      ></textarea>
    </div>

    <h4 class="ui dividing header">Paid Note <span class="exp">(When invoice has been already paid.)</span></h4>
    <div class="paid-note field">
      <div class="variables" style="margin-bottom: 1em">
        <span
          (click)="insertVarIntoPaidNote(PredefinedVar.CUSTOMER_WALLET)"
          class="ui tag label"
          style="cursor: pointer"
          >{{ PredefinedVar.CUSTOMER_WALLET }}</span
        >
        <span
          (click)="insertVarIntoPaidNote(PredefinedVar.INVOICE_NUMBER)"
          class="ui tag label"
          style="cursor: pointer"
          >{{ PredefinedVar.INVOICE_NUMBER }}</span
        >
      </div>

      <textarea
        tinymce
        #paidNoteEditor="tinymce"
        [value]="unsavedTemplate.individualPaidNote"
        (changed)="onPaidNoteChanged($event)"
        name="paidnote"
      ></textarea>
    </div>

    <div class="buttons field">
      <button
        (click)="resetChanges()"
        [disabled]="settingsForm.pristine && !hasChanges"
        class="ui button"
        type="button"
      >
        Reset
      </button>
      <button
        (click)="saveChanges()"
        [disabled]="settingsForm.pristine && !hasChanges"
        class="ui primary button"
        type="button"
      >
        Save
      </button>
    </div>
  </form>
</div>
