.mat-slide-toggle-content {
  font-size: 12px !important;
  font-weight: 500 !important;
}

.mat-icon {
  cursor: pointer;
}

.queue-table {
  &--not-found {
    text-align: center;
  }
}

.mat-column-action {
  text-align: right;
}

.label {
  font-weight: 300;
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 0.14285714em;
  background-color: #e8e8e8 !important;
  background-image: none;
  padding: 4px 6px;
  font-size: 12px;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: none;
  font-weight: 600;
  border: 0 solid transparent;
  border-radius: 0.28571429rem;
}

