<mat-toolbar><h1>Department list</h1></mat-toolbar>


<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1.6rem">
    <mat-form-field class="example-full-width">
      <mat-label>Search by name</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.8rem">
      <button mat-icon-button matTooltip="Refresh" (click)="refresh()">
        <mat-icon>autorenew</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="updateOrCreate()">Create</button>
    </div>
  </div>
  <div class="container__content">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="totalMember">
        <th mat-header-cell *matHeaderCellDef>Total member</th>
        <td mat-cell *matCellDef="let element">{{ element.totalMember }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef>Create date</th>
        <td mat-cell *matCellDef="let element">{{ element.createDate }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="action" fxLayoutAlign="end center">
            <button mat-icon-button>
              <mat-icon matTooltip="Add account" (click)="updateOrCreate(element)">add</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon matTooltip="Edit" (click)="updateOrCreate(element)">edit</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon matTooltip="Delete" (click)="deleteDepartment(element)">delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">
          <div fxLayout="column" fxLayoutAlign="center center">No Data Available</div>
        </td>
      </tr>
    </table>
    <mat-paginator hidePageSize="true" pageSize="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
