$timepicker-color: #ff6e40;
.settings {
  width: 900px;
  margin: 0 auto;
  .title {
    margin: 20px;
  }
  .worktime {
    position: relative;

    .working-schedule-form {
      &__title {
        margin-bottom: 0.75rem;
        color: rgba(0, 0, 0, 0.87);

        &.custom-day {
          margin-top: -0.25rem;
        }

        & mat-spinner {
          margin-left: 0.8rem;
        }
      }
      padding: 1.6rem 0;

      .working-time-table {
        &__from,
        &__to {
          .mat-form-field-wrapper {
            .mat-form-field-flex {
              .mat-form-field-infix {
                width: auto !important;
              }
            }
          }
        }
        &__from {
          margin-left: 2rem !important;
          margin-right: 1.6rem !important;
        }
        td {
          padding: 1px 15px;
        }
      }
      &__picker {
        visibility: hidden;
      }
    }
  }
}

mat-icon {
  font-size: 20px;
}
.custom-datePicker {
  position: absolute;
  left: 0;
  background: white;
  width: 100%;
}
