<form #storeForm="ngForm">
  <h1 mat-dialog-title>{{ isCreate ? 'Create Campaign' : 'Edit Campaign' }}</h1>

  <div class="container-dialog" mat-dialog-content fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1.6rem">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="requestData.name"
        #name="ngModel"
        required
      />
      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Name is required</mat-error>
    </mat-form-field>

    <div fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="0.8rem">
      <label class="mat-caption field">Campaign type</label>
      <mat-radio-group
        *ngIf="isCreate; else editedView"
        class="pl-1"
        name="queueType"
        [(ngModel)]="requestData.type"
        (ngModelChange)="changeType($event)"
      >
        <div fxFlex="1 1 0" *ngIf="data.hasRobocall">
          <mat-radio-button [value]="CampaignType.voice">Robocall</mat-radio-button>
        </div>
        <div fxFlex="1 1 0" *ngIf="data.hasSMSLicense">
          <mat-radio-button [value]="CampaignType.sms">SMS</mat-radio-button>
        </div>
        <div fxFlex="1 1 0" *ngIf="data.hasSMSLicense">
          <mat-radio-button [value]="CampaignType.outboundContactCenter">Outbound Contact Center</mat-radio-button>
        </div>
      </mat-radio-group>
      <ng-template #editedView>
        <mat-radio-group class="pl-1" name="queueType" [(ngModel)]="requestData.type">
          <div fxFlex="1 1 0">
            <mat-radio-button [disabled]="requestData.type !== CampaignType.voice" [value]="CampaignType.voice"
              >Robocall</mat-radio-button
            >
          </div>
          <div fxFlex="1 1 0">
            <mat-radio-button [disabled]="requestData.type !== CampaignType.sms" [value]="CampaignType.sms"
              >SMS</mat-radio-button
            >
          </div>
          <div fxFlex="1 1 0">
            <mat-radio-button
              [disabled]="requestData.type !== CampaignType.outboundContactCenter"
              [value]="CampaignType.outboundContactCenter"
              >Outbound Contact Center</mat-radio-button
            >
          </div>
        </mat-radio-group>
      </ng-template>
    </div>

    <ng-container [ngSwitch]="requestData.type">
      <ng-container *ngSwitchCase="CampaignType.voice">
        <mat-form-field *ngIf="!requestData.queueUuid">
          <mat-label>Select a flow</mat-label>
          <mat-select name="flow" #flow="ngModel" [(ngModel)]="flowSelected" required>
            <mat-select-trigger *ngIf="flowSelected" value="flowSelected"> {{ flowSelected.name }} </mat-select-trigger>
            <mat-option *ngFor="let flow of data.flowsRobocall" [value]="flow">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.8rem">
                <span>{{ flow.name }}</span>
              </div>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="flow.invalid && (flow.dirty || flow.touched)">Flow is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Caller ID</mat-label>
          <mat-select
            name="callerId"
            [(ngModel)]="requestData.callerId"
            #callerId="ngModel"
            [disabled]="requestData.callerIdMode === 'dynamic'"
            required
          >
            <mat-option *ngFor="let callerId of callerIds" value="{{ callerId }}">{{ callerId }} </mat-option>
          </mat-select>
          <mat-error *ngIf="callerId.invalid && (callerId.dirty || callerId.touched)">Caller ID is required</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="CampaignType.sms">
        <mat-form-field>
          <mat-label>Select a flow</mat-label>
          <mat-select name="flow" #flow="ngModel" [(ngModel)]="flowSelectedSMS" required>
            <mat-select-trigger *ngIf="flowSelectedSMS" value="flowSelectedSMS">
              {{ flowSelectedSMS.name }}
            </mat-select-trigger>
            <mat-option *ngFor="let flow of data.flowsSMS" [value]="flow">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.8rem">
                <span>{{ flow.name }}</span>
              </div>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="flow.invalid && (flow.dirty || flow.touched)">Flow is required</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="CampaignType.outboundContactCenter">
        <mat-form-field>
          <mat-label>Select a queue</mat-label>
          <mat-select name="flow" #queue="ngModel" [(ngModel)]="queueSelected" required>
            <mat-option *ngFor="let queue of queues" [value]="queue.uuid">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.8rem">
                <span>{{ queue.label }}</span>
              </div>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="queue.invalid && (queue.dirty || queue.touched)">Queue is required</mat-error>
        </mat-form-field>
        <!-- <div fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="0.8rem">
          <label class="mat-caption field">Mode</label>
          <mat-radio-group class="pl-1" name="mode" [(ngModel)]="mode">
            <div fxFlex="1 1 0">
              <mat-radio-button [value]="Mode.progressive">Progressive</mat-radio-button>
            </div>
            <div fxFlex="1 1 0">
              <mat-radio-button [value]="Mode.preview">Preview</mat-radio-button>
            </div>
          </mat-radio-group>
        </div> -->
        <div fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="0.8rem">
          <label class="mat-caption field">Caller ID</label>
          <mat-radio-group class="pl-1" name="callerIdMode" [(ngModel)]="callerIdMode">
            <div fxFlex="1 1 0">
              <mat-radio-button [value]="CallerIdMode.fixed">Common Caller ID</mat-radio-button>
            </div>
            <div fxFlex="1 1 0">
              <mat-radio-button [value]="CallerIdMode.dynamic">Respective extension's caller ID</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        <mat-form-field class="mb-0">
          <mat-label>Default caller ID</mat-label>
          <mat-select
            name="callerIdRef"
            [(ngModel)]="callerId"
            #callerIdRef="ngModel"
            [disabled]="callerIdMode === CallerIdMode.dynamic"
            required
          >
            <mat-option *ngFor="let callerId of callerIds" value="{{ callerId }}">{{ callerId }} </mat-option>
          </mat-select>
          <mat-error *ngIf="callerIdRef.invalid && (callerIdRef.dirty || callerIdRef.touched)"
            >Caller ID is required</mat-error
          >
        </mat-form-field>
      </ng-container>
      <div fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="0.8rem" class="b border-radius-4 p-16">
        <div class="d-flex align-items-center gap-16">
          <span class="font-weight-500">Campaign run time</span>
          <mat-slide-toggle
            name="enableRunTime"
            [(ngModel)]="enableRunTime"
            (ngModelChange)="onRunTimeChange(runTimeFrom, 'from')"
          >
          </mat-slide-toggle>
        </div>
        <label class="mat-caption field" [style.color]="'#989898'"
          >Your campaign is only allowed to run within this time range</label
        >
        <div *ngIf="enableRunTime" fxLayout="row" fxLayoutAlign="start none" fxLayoutGap="0.8rem">
          <mat-form-field fxFlex="1 1 0">
            <input
              matInput
              readonly
              placeholder="From"
              name="runTimeFrom"
              required
              [matDatepicker]="from"
              (click)="from.open()"
              [(ngModel)]="runTimeFrom"
              #fromRef="ngModel"
              (ngModelChange)="onRunTimeChange($event, 'from')"
            />
            <mat-datepicker-toggle matSuffix [for]="from">
              <mat-icon matDatepickerToggleIcon>schedule</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #from type="time" [twelveHour]="false"></mat-datepicker>
            <mat-error *ngIf="fromRef.invalid && (fromRef.dirty || fromRef.touched)">From is required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="1 1 0">
            <input
              matInput
              readonly
              placeholder="To"
              name="runTimeTo"
              required
              [matDatepicker]="to"
              (click)="to.open()"
              [(ngModel)]="runTimeTo"
              #toRef="ngModel"
              (ngModelChange)="onRunTimeChange($event, 'to')"
            />
            <mat-datepicker-toggle matSuffix [for]="to">
              <mat-icon matDatepickerToggleIcon>schedule</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #to type="time" [twelveHour]="false"></mat-datepicker>
            <mat-error *ngIf="$any(toRef.control.errors)?.required && (toRef.dirty || toRef.touched)"
              >To is required</mat-error
            >
            <mat-error *ngIf="$any(toRef.control.errors)?.runTime && (toRef.dirty || toRef.touched)"
              >Please select value greater than {{ runTimeFrom | date: 'shortTime' }}</mat-error
            >
          </mat-form-field>
        </div>
      </div>
    </ng-container>

    <!-- <mat-checkbox *ngIf="isCreate" [(ngModel)]="requestData.checkDnc" name="globalDnc"> Check consent </mat-checkbox> -->
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="storeForm.invalid || isProcessing">
      <span *ngIf="!isCreate">
        <span *ngIf="!isProcessing">Save</span> <span *ngIf="isProcessing">Saving...</span>
      </span>
      <span *ngIf="isCreate">
        <span *ngIf="!isProcessing">Create</span> <span *ngIf="isProcessing">Creating...</span>
      </span>
    </button>
  </div>
</form>
