<div mat-dialog-title>
  <div>Assign permissions</div>
  <div class="sub-title">Select a member and assign permissions</div>
</div>

<form [formGroup]="addPermissionForm" fxLayout="column">
  <mat-form-field appearance="outline">
    <mat-label>Member</mat-label>
    <input matInput size="auto" formControlName="member" [matAutocomplete]="auto" placeholder="Search member" />
    <span (click)="reset()" mat-icon-button matSuffix class="cursor-pointer">
      <mat-icon>close</mat-icon>
    </span>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectMemberChanged($event)">
      <mat-option *ngFor="let option of filteredMembers$ | async" [value]="option">
        {{ option.displayName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="permissions$ | async as permissions" appearance="outline">
    <mat-label>Assign permissions</mat-label>
    <mat-select multiple formControlName="permissions">
      <mat-option *ngFor="let p of permissions" [value]="p.action">{{ p.displayText }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div mat-dialog-actions align="end">
  <button mat-dialog-close mat-button>Cancel</button>
  <button (click)="add()" [loading]="progressing" mat-flat-button color="primary" [disabled]="!selectedMember">
    Assign
  </button>
</div>
