$screen-min-width: 1024px
$screen-min-height: 768px

$border-base-color: #ccc
$border-gentle-base-color: rgba(0, 0, 0, .1)
$border: 1px solid $border-base-color
$border-radius: .2962963rem

$app-menu-height: 56px
$page-head-height: 12px
$page-tab-height: 58px              // tab with icon
$page-tab-label-height: 60px        // tab with icon and label
$page-info-height: calc(87px + 40px)    // height + margin-bottom
$page-content-min-height: calc(#{$screen-min-height} - #{$app-menu-height} - #{$page-head-height})      // page content only contains app-menu and page-head