<div sm-component modal-id="export-consent-modal" class="ui modal small">
  <i class="close icon"></i>
  <div class="header">Export Consent</div>
  <div class="content">
    <div class="ui form">
      <div class="required field">
        <label>Email</label>
        <input placeholder="email" [(ngModel)]="email" />
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="middle aligned floating blocks">
      <div class="block" style="width: 47%">
        <div class="left"></div>
      </div>
      <div class="block" style="width: 51%">
        <div class="right">
          <div class="ui cancel link button">Cancel</div>
          <div [class.hidden]="exporting" class="ui approve large primary button" (click)="export($event)">Export</div>
          <div [class.hidden]="!exporting" class="ui approve large primary button loading">Export</div>
        </div>
      </div>
    </div>
  </div>
</div>
