<div class="capacity-modal">
  <h2 mat-dialog-title>{{ capacityModalInput?.isEdit ? 'Update' : 'Add' }} Capacity</h2>
  <form [formGroup]="formGroup">
    <mat-dialog-content class="mat-typography" fxLayout="column" fxLayoutAlign="start strecht" fxLayoutGap="0.8rem">
      <mat-form-field>
        <mat-label>Name*</mat-label>
        <input matInput placeholder="Ex: abc1_xyz" formControlName="name" [b3nRetrictInput]="'([a-zA-Z]+[\\d_]*)+$'" />
        <mat-error *ngIf="formGroup?.get('name')?.errors?.['required']">Name can't be empty</mat-error>
        <mat-error *ngIf="formGroup?.get('name')?.errors?.['pattern']"
          >Name must be at least 2 characters and the first character must be characters includes(a-zA-Z)</mat-error
        >
        <mat-error *ngIf="formGroup?.get('name')?.errors?.['isExistsSecurity']">Capacity is existed</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.8rem">
        <mat-form-field fxFlex>
          <mat-label>CPS*</mat-label>
          <input matInput placeholder="Enter CPS" formControlName="cps" type="number" />
          <mat-error *ngIf="formGroup?.get('cps')?.errors?.['required']">CPS can't be empty</mat-error>
          <mat-error *ngIf="formGroup?.get('cps')?.errors?.['max'] || formGroup?.get('cps')?.errors?.['min']"
            >CPS must be from {{ capacityModalInput?.preConfig?.limitation?.cps?.min }} to
            {{ capacityModalInput?.preConfig?.limitation?.cps?.max }}</mat-error
          >
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Concurrent Call*</mat-label>
          <input matInput placeholder="Enter concurrent call" formControlName="concurrentCall" type="number" />
          <mat-error *ngIf="formGroup?.get('concurrentCall')?.errors?.['required']"
            >Concurrent call can't be empty</mat-error
          >
          <mat-error
            *ngIf="formGroup?.get('concurrentCall')?.errors?.['max'] || formGroup?.get('concurrentCall')?.errors?.['min']"
            >Concurrent call must be from {{ capacityModalInput?.preConfig?.limitation?.capacity?.min }} to
            {{ capacityModalInput?.preConfig?.limitation?.capacity?.max }}</mat-error
          >
        </mat-form-field>
      </div>
    </mat-dialog-content>
  </form>
  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [loading]="isLoading" [disabled]="formGroup.invalid" (click)="onSave()">
      {{ capacityModalInput?.isEdit ? 'Update' : 'Create' }}
    </button>
  </mat-dialog-actions>
</div>
