<ng-container *ngIf="isUpdate; else createCG">
  <h2 mat-dialog-title>Update Account</h2>
</ng-container>
<ng-template #createCG>
  <h2 mat-dialog-title>Create New Account</h2>
</ng-template>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" [formControl]="username">
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1.6rem">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput type="text" [formControl]="firstName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput type="text" [formControl]="lastName">
    </mat-form-field>
  </div>

  <div  fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1.6rem">
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select [formControl]="role">
        <mat-option value="USER">USER</mat-option>
        <mat-option value="MANAGER">MANAGER</mat-option>
        <mat-option value="ADMIN">ADMIN</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Department</mat-label>
      <mat-select [formControl]="departmentName">
        <mat-option *ngFor="let item of departmentList" [value]="item.key">
          {{ item.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <ng-container *ngIf="isUpdate; else createBtt">
    <button
    mat-raised-button
    color="primary"
    (click)="saveOrUpdate()"
  >
  Update
  </button>
  </ng-container>
  <ng-template #createBtt>
    <button
    mat-raised-button
    color="primary"
    (click)="saveOrUpdate()"
  >
    Save
  </button>
  </ng-template>
</mat-dialog-actions>
