<div class="content-container">
  <div fxLayout="row" class="action-bar">
    <div fxFlex fxLayout="row" fxLayoutGap="1.6rem" fxLayoutAlign="end center">
      <mat-form-field>
        <input matInput [(ngModel)]="search" placeholder="Search by accessor" (keyup.enter)="onSearch()" />
        <mat-icon (click)="onSearch()" matSuffix>search</mat-icon>
        <mat-icon (click)="search = ''; onSearch()" matSuffix>clear</mat-icon>
      </mat-form-field>
      <button mat-icon-button [loading]="isLoading">
        <mat-icon (click)="refresh()">refresh</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="onShowUpdateAccessible()">Grant Access</button>
    </div>
  </div>
  <div *ngIf="accessibles && accessibles.length > 0; else noData" class="supplier">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="accessor">
        <th mat-header-cell *matHeaderCellDef>
          <div class="header" fxLayout="row">
            <label>Accessor</label>
            <mat-icon
              matTooltip="Represent for entity who can access a report, there is 3 level of access:
              • All users: Represented by * character
              • Partner's organizations: Represented by portal domain of the partner
              • Single Organization: Represented by organization UUID (orgUuid)"
              matTooltipClass="blocked-tooltip"
              >help_outline</mat-icon
            >
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.accessor }}</td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>
          <div class="header" fxLayout="row">
            <label>Report Code</label>
            <mat-icon
              matTooltip="A reference to report template that access granted entity can access"
              matTooltipClass="blocked-tooltip"
              >help_outline</mat-icon
            >
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.code }}</td>
      </ng-container>
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Report Label</th>
        <td mat-cell *matCellDef="let element">{{ element.label }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>
          <div class="header" fxLayout="row">
            <label>Type</label>
            <mat-icon
              matTooltip="Report template type that access granted entity can access"
              matTooltipClass="blocked-tooltip"
              >help_outline</mat-icon
            >
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.type == 'agg'">Commulative</span>
          <span *ngIf="element.type == 'dump'">Historical</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="showInReportApp">
        <th mat-header-cell *matHeaderCellDef>
          <div class="header" fxLayout="row">
            <label>Show in Report App</label>
            <mat-icon
              matTooltip="Not all reports means for downloadable, for reports only display on other application UI, this flag should be turned off"
              matTooltipClass="blocked-tooltip"
              >help_outline</mat-icon
            >
          </div>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.showInReportApp ? 'Yes' : 'No' }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div fxLayoutAlign="end center">
            <button
              mat-icon-button
              fxLayout="row"
              fxLayoutAlign="center none"
              (click)="confirmDeleteAccess(element)"
              matTooltip="Delete"
              class="action-edit"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
    <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
  <ng-template #noData>
    <div class="no-data" fxLayout="column" fxLayoutAlign="center center">
      <h1 *ngIf="!isLoading" class="message">No record found</h1>
    </div>
  </ng-template>
</div>
