<i class="close icon"></i>
<div class="header">Delete recording</div>
<div class="content">
  <div class="ui form">
    <div class="field">
      <p>Are you sure you want to delete this recording?</p>
    </div>
  </div>
</div>
<div class="actions">
  <div class="middle aligned floating blocks">
    <div class="block"></div>
    <div class="block">
      <div class="right">
        <div class="ui cancel link button">Cancel</div>
        <div class="ui approve large red button" (click)="onArchive($event)">Delete</div>
      </div>
    </div>
  </div>
</div>
