<div class="ui page top fixed centered menu">
  <div class="ui container">
    <a class="item" [routerLink]="['/general']" routerLinkActive="active">Theme</a>
    <a class="item" [routerLink]="['/domain-settings']" routerLinkActive="active">Domain Settings</a>
    <a class="item" [routerLink]="['/portal-config']" routerLinkActive="active">Portal Config</a>
    <a class="item" [routerLink]="['/tax']" routerLinkActive="active">Tax</a>
    <a class="item" [routerLink]="['/security']" routerLinkActive="active">Security Policy</a>
    <a class="item" [routerLink]="['/invoice']" routerLinkActive="active">Invoice</a>
  </div>
</div>
