:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
  background-color: white;

  .container {
    padding: 16px;
    background-color: white;
    &__item {
      width: 500px;
    }
  }

  .baner{
    text-align: center;
    margin-top: 2rem;
  }

  .mat-card{
    padding:0 !important;
  }

  .mat-card-content{
    padding:5px !important;
  }

  a {
    text-decoration: none;
  }
}
