:host {
  display: block;

  .container {
    max-width: 550px;
    margin: auto;
    padding: 2rem 0;

    .item-left {
      color: var(--gray-600);
    }
    .item-right {
      font-weight: 500;
      color: var(--gray-800);
    }
  }
}
