<div class="ui page content container">
  <div class="ui centered grid">
    <div class="error-wrapper ng-scope">
      <h1>Global DNC</h1>
      <img
        src="https://apps-local.s3.amazonaws.com/directline/dev/logo/1511334126074-globalDNC_128x128.png"
        class="logo"
      />
      <div class="error-message">
        <strong>You do not have permission on Global DNC subscription.</strong> <br />
        <strong>If you receive an invitation email, please follow the instruction included in the email.</strong> <br />
        <strong>In case you still see this page, please contact your admin.</strong>
      </div>
    </div>
  </div>
</div>
