/*
 * Remove template code below
 */

@mixin img {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

:host {
  display: block;
  font-family: sans-serif;

  margin: 0 auto;

  .activities {
    .filter {
      width: 180px;
    }
    &__new-coment {
      .editor {
        width: 100%;
      }
    }
  }
  .comment-list {
    position: relative;
    margin-bottom: 12px;
    &::before {
      content: '';
      border-left: 2px solid #f0f0f0;
      position: absolute;
      top: 8px;
      bottom: 0;
      left: 36px;
      height: calc(100% - 20px);
    }
  }

  .no-avatar {
    @include img;
    line-height: 32px;
    background: #cecece;
    border: 1px solid #cecece;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .avatar {
    @include img;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .comments {
    margin: 8px 0px;

    .avatar-size {
      height: 38px !important;
      width: 38px !important;
      font-size: 15px !important;
    }
    .content {
      width: 95%;
      .member {
        .author {
          display: inline-block !important;
          align-items: center;
          font-weight: 400;
          color: #666;
          border-radius: 5rem;
          font-size: 12px;
          padding: 0.25rem 0.75rem;
          box-shadow: inset 0 0 0 1px #dbdbdb !important;
        }
      }
    }
  }
}

.content-left-time {
  color: #737278;
}

.btn-action-header {
  width: 30px;
  height: 30px;
  line-height: 30px;
  mat-icon {
    font-size: 18px;
    color: #7a7a7a;
  }
}

.displayName {
  font-weight: 600;
}
.comments {
  display: block;
  position: relative;
  padding: 16px;
  padding-bottom: 0px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.event {
  display: block;
  position: relative;
  padding: 8px 16px;
  .note-headline-light {
    color: #666;
  }
  .event-avatar {
    margin-left: 8px;
    .event-avatar-size {
      height: 26px !important;
      width: 26px !important;
      position: relative;
      border-radius: 50%;
      line-height: 26px;
      background: white;
      color: #cecece !important;
      border: 1px solid #cecece;
      text-align: center;
      mat-icon {
        font-size: 15px !important;
        height: 16px !important;
      }
    }
  }
}
.box {
  background: #e6e6e6;
  border-radius: 4px;
  font-size: 12px;
  color: #424242;
  height: 18px;
  padding: 0 8px;
  white-space: nowrap;

  &.open {
    background-color: #36b37e;
    color: white;
  }

  &.close {
    background-color: rgb(31, 117, 203);
    color: white;
  }
}

.actions {
  mat-select {
    width: 170px;
  }
}

.log {
  cursor: pointer;
  mat-icon {
    font-size: 20px;
    margin-top: 1px;
  }
}

.activity {
  margin: 16px 0;
  button {
    line-height: 24px;
    padding: 0 8px !important;
    background-color: var(--ds-background-neutral, #f4f5f7);
    color: var(--ds-text, var(--ds-text, #091e42));
    pointer-events: auto;
  }

  .avtive {
    background-color: var(--ds-background-blanket, rgba(9, 30, 66, 0.54));
    color: white;
  }
}

.edited-text {
  color: #737278;
  display: block;
  margin: 16px 0 0;
  font-size: 85%;
}
