.wrapper {
  max-width: 650px;
  margin: auto;
}

.container {
  max-width: 650px;
  height: calc(100vh - 38px);
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.title {
  font-weight: 450;
  margin: 0;
  font-size: 14px;
  color: #5f5f5f;
}

mat-card {
  box-shadow: none !important;
}
