<h1 mat-dialog-title>Action Events</h1>

<form #form="ngForm" *ngIf="queue">
  <div mat-dialog-content>
    <div class="dialog-content-container">
      <div fxLayout="column" fxLayoutGap="1.6rem">
        <ng-container *ngFor="let action of listAction">
          <section class="actions-config">
            <h3 fxLayout="row" fxLayoutAlign="center start" class="actions-config__header">
              {{ action.label }} <span class="fill-remaining-space"></span>
              <mat-slide-toggle
                color="primary"
                (change)="enabledButton(action.key)"
                [checked]="queue.callflowConfig[action.key].enabled"
              >
              </mat-slide-toggle>
            </h3>
            <div
              *ngIf="queue.callflowConfig[action.key].enabled"
              fxLayout="column"
              fxLayoutAlign="start stretch"
              fxLayoutGap="1.6rem"
              class="actions-config__content"
            >
              <mat-form-field>
                <mat-label>{{ action.placeholderInput }}</mat-label>
                <input
                  type="number"
                  [name]="action.key"
                  #formInput="ngModel"
                  [(ngModel)]="queue.callflowConfig[action.key].threshold"
                  matInput
                  required
                />
                <mat-error class="sms-warning" *ngIf="formInput.invalid && (formInput.dirty || formInput.touched)">
                  {{ action.placeholderInput }} is required
                </mat-error>
                <mat-hint align="start" *ngIf="queue.callflowConfig[action.key].threshold <= 0" style="color: red"
                  >* {{ action.placeholderInput }} must be greater than 0
                </mat-hint>
              </mat-form-field>

              <b3n-flow-config
                #queueSizeComp
                [flowConfig]="queue.callflowConfig[action.key]"
                [key]="action.key"
                [hangupMessage]="action.hangupMessage"
                [announcementMessage]="action.announcementMessage"
                [queues]="queues"
                [extensions]="extensions"
                [skills]="skills"
                [formParents]="$any(formGroup.get(action.key))"
              ></b3n-flow-config>
            </div>
          </section>
          <mat-divider> </mat-divider>
        </ng-container>
      </div>
    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button [disabled]="invalidForm(form) || this.isInvalid" mat-raised-button (click)="save()" color="primary">
      <span *ngIf="!isSaving"> Save </span> <span *ngIf="isSaving"> Saving </span>
    </button>
  </div>
</form>
