mat-form-field {
  width: 100%;
  box-sizing: border-box;
}

li {
  padding-bottom: 3px;
}

.loading-container {
  mat-spinner {
    margin: 0 auto;
  }
}

.qrCode {
  ::ng-deep img {
    margin: 0 auto;
  }
}
