// @import '@angular/material/theming';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$sidebar-background: #2483f3;
$error-color: #e95849;
$empty-color: #888;
$hint-color: #666;
$warning-color: #fbbd08;
$link-color: #007be0;
$primary-background-color: #008bd9;
$success-color: #0f9d58;
