<div mat-dialog-title fxLayoutAlign="space-between start">
  <h1>{{ title }}</h1>
  <mat-icon mat-dialog-close>close</mat-icon>
</div>
<div mat-dialog-content>
  <div class="pb-16" fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1.6rem">
    <ng-container *ngIf="!newPassword">
      <mat-radio-group [formControl]="selectOpt" fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="1.6rem">
        <mat-radio-button value="auto"> Automatically generate a password </mat-radio-button>
        <mat-radio-button value="create">Create password</mat-radio-button>
      </mat-radio-group>

      <ng-container *ngIf="selectOpt.value === 'create'">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            #inputPassword
            type="input"
            [formControl]="password"
            matInput
            placeholder="Enter your password"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="password.hasError('required')"> Password is required </mat-error>
          <mat-error *ngIf="password.hasError('minlength')"> Password must have at least 14 characters</mat-error>
          <mat-error *ngIf="password.hasError('hasCapitalCase')">
            Password must have at least one uppercase letter
          </mat-error>
          <mat-error *ngIf="password.hasError('hasSmallCase')">
            Password must have at least one lowercase letter
          </mat-error>
          <mat-error *ngIf="password.hasError('hasNumber')"> Password must have at least one number</mat-error>
        </mat-form-field>
      </ng-container>
    </ng-container>

    <div *ngIf="newPassword" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.6rem">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="!visibility ? 'text' : 'password'" [disabled]="true" [value]="newPassword" />
        <mat-icon matSuffix (click)="visibility = !visibility">
          {{ !visibility ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </mat-form-field>
      <a
        matTooltip="Click to copy"
        ngxClipboard
        [cbContent]="newPassword"
        (cbOnSuccess)="copied()"
        (cbOnError)="copyFailed()"
        style="cursor: pointer"
      >
        COPY PASSWORD
      </a>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <ng-container *ngIf="newPassword">
    <button mat-button mat-dialog-close>Cancel</button>
    <button color="primary" mat-raised-button mat-dialog-close>Ok</button>
  </ng-container>
  <ng-container *ngIf="!newPassword">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      (click)="reset()"
      [disabled]="selectOpt.value === 'create' && password.invalid"
      color="warn"
      mat-raised-button
    >
      Reset
    </button>
  </ng-container>
</div>
