<h2 mat-dialog-title>Provision {{ data.licenseStatistic.skuName }}</h2>
<div>
  <!-- <ng-container *ngIf="data.licenseStatistic.isExtension">
    <mat-horizontal-stepper #provisionSteps linear="true" #stepper class="py-0">
      <mat-step [stepControl]="defaultFG">
        <ng-template matStepLabel>Default</ng-template>
        <ng-template [ngTemplateOutlet]="initResourceStep"></ng-template>
      </mat-step>
      <mat-step [stepControl]="detailsFG" label="Details">
        <form [formGroup]="detailsFG">
          <ng-template matStepLabel>Details</ng-template>
          <ng-template [ngTemplateOutlet]="configResourceStep"></ng-template>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-container> -->
  <!-- <div class="px-24"> -->
  <ng-template [ngTemplateOutlet]="initResourceStep"></ng-template>
  <!-- </div> -->

  <ng-template #initResourceStep>
    <form [formGroup]="defaultFG" fxLayout="column">
      <div fxLayout="column" fxLayoutGap="16px">
        <ng-container *ngIf="data.licenseStatistic.isExtension">
          <p class="secondary-text">
            You can create with a maximum of {{ MAX_PROVISION_BULK }}
            users at one time.
          </p>
          <mat-form-field>
            <mat-label>Number of users </mat-label>
            <input
              matInput
              onkeypress="return 48 <= event.charCode && event.charCode <= 57"
              formControlName="numberOfUser"
            />
            <mat-error>Accept from 1 to {{ unprovisionedLicensePage?.content.length }}</mat-error>
          </mat-form-field>
        </ng-container>

        <mat-form-field>
          <mat-label>{{ data.licenseStatistic.isExtension ? 'Start from extension' : 'Call group number' }} </mat-label>
          <input
            matInput
            onkeypress="return 48 <= event.charCode && event.charCode <= 57"
            formControlName="startFrom"
          />
          <mat-error>{{
            defaultFG.controls['startFrom'].value > 99999 ? 'From 3 to 5 digits' : 'Min must be 100'
          }}</mat-error>
        </mat-form-field>
      </div>
      <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- matStepperNext -->
        <!-- <button
          *ngIf="data.licenseStatistic.isExtension"
          mat-raised-button
          color="primary"
          [disabled]="defaultFG.invalid"
          (click)="go2DetailsStep()"
        >
          Next
        </button> -->
        <!-- *ngIf="data.licenseStatistic.isCallGroup" -->
        <button
          mat-raised-button
          color="primary"
          [disabled]="defaultFG.invalid || provisioning"
          [loading]="provisioning"
          (click)="provision()"
        >
          Provision
        </button>
      </div>
    </form>
  </ng-template>
  <ng-template #configResourceStep>
    <form [formGroup]="detailsFG">
      <div>
        <p class="secondary-text">You can create with a maximum of {{ MAX_PROVISION_BULK }} users at one time.</p>
        <table mat-table [dataSource]="resourceDS" class="resource-table">
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>Number</th>
            <td mat-cell *matCellDef="let element" [formGroup]="element">
              <div>
                <mat-form-field appearance="outline">
                  <mat-label></mat-label>
                  <input matInput type="number" formControlName="key" placeholder="Enter resource number" />
                  <mat-error>{{ element.error }}</mat-error>
                </mat-form-field>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
              <div>
                <button mat-icon-button (click)="removeResource(i)" color="warn">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator #resourcePaginator pageSize="5"></mat-paginator>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px" class="form-actions pt-16 pb-2">
        <button mat-button mat-dialog-close [disabled]="provisioning">Cancel</button>
        <button mat-raised-button [disabled]="provisioning">Back</button>
        <!-- matStepperPrevious -->
        <button
          mat-raised-button
          color="primary"
          [disabled]="defaultFG.invalid || provisioning"
          [loading]="provisioning"
          (click)="provision()"
        >
          Provision
        </button>
      </div>
    </form>
  </ng-template>
</div>
