<h2 fxLayout="row" fxLayoutAlign="space-between start" mat-dialog-title>
  <span>Edit capabilities</span>
  <mat-icon class="close" mat-dialog-close>close</mat-icon>
</h2>
<div mat-dialog-content>
  <mat-selection-list [multiple]="true" [formControl]="capabilitiesCtrl" required>
    <mat-list-option color="primary" [checkboxPosition]="'before'" [disableRipple]="true" [value]="'voice'">
      Voice
    </mat-list-option>
    <mat-list-option
      *ngIf="allowTypeMessage"
      color="primary"
      [checkboxPosition]="'before'"
      [disableRipple]="true"
      [value]="'message'"
    >
      Message
    </mat-list-option>
    <mat-list-option color="primary" [checkboxPosition]="'before'" [disableRipple]="true" [value]="'workflow'">
      Workflow
    </mat-list-option>
  </mat-selection-list>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    [loading]="updating"
    [disabled]="capabilitiesCtrl.invalid"
    (click)="update()"
  >
    Update
  </button>
</div>
