// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Angular Material typography
$typography: mat-typography-config(
  //   $font-family: 'Roboto, sans-serif',
  //   $button: mat-typography-level(14px, 14px, 500),
  // $input: mat-typography-level(16px, 1.125, 400) // line-height must be unitless !!!
);

// Setup the typography
@include angular-material-typography($typography);

// -----------------------------------------------------------------------------------------------------
// @ Component theming
// -----------------------------------------------------------------------------------------------------

// Import app and page component themes here to enable theming for them

// Define a mixin for easier access
@mixin components-theme($theme) {
}

// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// ---------------------------------------------------- -------------------------------------------------

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($mat-blue, 500);
$default-accent-palette: mat-palette($mat-blue);
$default-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-light-theme($default-primary-palette, $default-accent-palette, $default-warn-palette);

// Add ".theme-default" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-default {
  // Create an Angular Material theme from the $theme map
  @include angular-material-theme($theme);

  // Apply the theme to the b3n Core
  @include b3n-core-theme($theme);

  // Apply the theme to the user components
  @include components-theme($theme);

  // Generate b3n color classes for primary, accent and warn colors
  $palettes: (
    primary: $default-primary-palette,
    accent: $default-accent-palette,
    warn: $default-warn-palette
  );

  @include b3n-color-classes($palettes);
  .mat-toolbar {
    // background-color: inherit;
    font-size: 14px;
    font-weight: 400;
  }
}

.ql-editor {
  padding: 4px 0px !important;
}

.image-container {
  position: relative;
  // height: 100%;
  max-height: 350px;
  left: 0;
  border: thin solid #d3d3d3;
  border-radius: 8px;
  background-size: cover;
  object-fit: over;
  overflow: hidden;

  // &:last-child {
  //   margin-bottom: 0 !important;
  // }

  &:not(.noHover):hover {
    cursor: zoom-in;
  }

  .not-loaded-image {
    font-size: 48px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    color: #808080;
    cursor: default;
  }
}
.div-container {
  color: #303030;
  margin: 0 0 12px;
  word-break: break-word;

  &:last-child {
    margin-bottom: 0 !important;
  }

  a {
    color: #2196f3 !important;
    word-break: break-all;
    text-decoration: none !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
  br {
    display: contents;
  }
}

.ul-container {
  list-style-type: disc !important;
  text-align: initial;
  padding: 0 !important;
  margin: 0 0 12px !important;
  color: #303030;
  // &:last-child {
  //   margin-bottom: 0 !important;
  // }
  li {
    &:first-child {
      margin-top: 0 !important;
    }
    &::before {
      font-size: 20px;
      position: relative;
      top: 2px;
      right: 3px;
    }
    margin-left: 32px;
    padding-left: 0 !important;
    line-height: 1.6em;
    word-wrap: break-word;
    span {
      margin-left: 5px;
      // display: inline-grid;
    }
  }
}

.ol-container {
  list-style-type: auto !important;
  text-align: initial;
  padding: 0 !important;
  margin: 0 0 12px !important;
  color: #303030;
  // &:last-child {
  //   margin-bottom: 0 !important;
  // }
  li {
    &:first-child {
      margin-top: 0 !important;
    }
    margin-left: 28px;
    padding-left: 0;
    line-height: 1.6em;
    word-wrap: break-word;
    span {
      margin-left: 5px;
      // display: inline-grid;
    }
  }
}

::ng-deep {
  .ck-list__item {
    padding: 6px;
  }
}

.ck-content {
  ul,
  ol {
    text-align: initial;
    padding: 0 !important;
    margin: 0 0 12px !important;
    color: #303030;
    li {
      &:first-child {
        margin-top: 0 !important;
      }
      &::before {
        font-size: 20px;
        position: relative;
        top: 2px;
        right: 3px;
      }
      margin-left: 32px;
      padding-left: 0 !important;
      line-height: 1.6em;
      word-wrap: break-word;
      span {
        margin-left: 5px;
        // display: inline-grid;
      }
    }
  }
  ul {
    list-style-type: disc !important;
  }
  ol {
    list-style-type: auto !important;
  }
}
