:host {
  .container {
    width: 900px;
    margin: auto;
    padding-top: 1.6rem;
    padding-bottom: 3.2rem;

    ::ng-deep {
      .mat-list {
        .mat-list-item-content {
          .icon-clear {
            height: 18px;
            width: 18px;
            font-size: 18px;
            line-height: 18px;
            color: gray;
          }
        }
      }
    }

    table {
      tr {
        .icon-done {
          color: #36b37e;
        }

        .action-container {
          visibility: hidden;
        }

        &:hover {
          .action-container {
            visibility: visible;
          }
        }
      }
    }
  }
}
