<div class="search-member-group">
  <mat-form-field (click)="$event.stopPropagation()" class="search-box" appearance="outline">
    <mat-label>Find member</mat-label>
    <input matInput cdkFocusInitial autocomplete="off" [formControl]="keywordFC" />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-selection-list [multiple]="false" (selectionChange)="onSelectionChange($event)" class="member-list">
    <ng-container *ngIf="!keywordFC.value">
      <mat-list-option *ngIf="me$ | async as me" [value]="me" class="member">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.6rem">
          <img matListItemAvatar [src]="me.photoUrlOrDefault" class="avatar" />
          <div fxFlex class="text-channel" [innerHTML]="me?.displayName + ' (Me)'"></div>
        </div>
      </mat-list-option>
      <mat-list-option>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.6rem">
          <mat-icon matListItemAvatar class="avatar">group</mat-icon>
          <div fxFlex class="text-channel">{{ useFor === 'filter' ? 'All' : 'Unassigned' }}</div>
        </div>
      </mat-list-option>
    </ng-container>

    <mat-list-option *ngFor="let member of filteredMembers$ | async; trackBy: trackByMmeber" [value]="member">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.6rem">
        <img matListItemAvatar [src]="member.photoUrlOrDefault" class="avatar" />
        <div
          fxFlex
          class="text-channel"
          [innerHTML]="member.displayName || 'Unknown user' | highlight: keywordFC.value"
        ></div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
