:host {
  .related-cases {
    .related-case {
      .button {
        cursor: pointer;
        visibility: hidden;
      }
      &:hover {
        .button {
          visibility: visible;
        }
      }
    }
  }
}
