<ng-container *ngIf="isLogin; else login">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="sidenav"
      [fixedInViewport]="true"
      [fixedTopGap]="0"
      [fixedBottomGap]="0"
      [disableClose]="true"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-icon-button color="primary">
            <mat-icon>home</mat-icon>
          </button>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
              </button>
              <button mat-icon-button >
                <mat-icon>mail</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>language</mat-icon>
              </button>
              <button  mat-stroked-button><mat-icon>account_circle</mat-icon> Quang Hung <mat-icon>arrow_drop_down</mat-icon></button>
            </div>
        </mat-toolbar-row>

      </mat-toolbar>
      <mat-divider></mat-divider>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #login>
  <app-login (submitEM)="loginSuccess($event)"></app-login>
</ng-template>

