@import '../../../functions.scss';
.app-header {
  border-bottom: 1px solid #667be7;
  background: #fff;
}

.page-content {
  display: flex;
  margin-top: rem(60);
  margin-bottom: -50px;
  .content {
    align-self: center;
    width: 100%;
    text-align: center;
    .ui.image {
      padding-bottom: rem(60);
      width: 50%;
    }
    .ui.button {
      font-size: rem(16);
      font-weight: 500;
    }
  }
}
