<div class="agile-content">
  <mat-form-field>
    <mat-label>subdomain</mat-label>
    <input matInput [(ngModel)]="integration.subDomain" /> <span matPrefix>https://</span>
    <span matSuffix>.agilecrm.com/</span>
    <mat-hint
      >Enter the subdomain of your AgileCRM account. It is the unique web address you chose when you setup the account.
      You can see it on your address bar when you login.
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email Address</mat-label>
    <input matInput [(ngModel)]="integration.registeredEmail" />
    <mat-hint>Enter User ID (email address) used to login to AgileCRM</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>API Key</mat-label>
    <input matInput [(ngModel)]="integration.apiKey" />
    <mat-hint>Navigate to Avatar -> Admin Settings -> Developers & API -> Rest API. </mat-hint>
  </mat-form-field>

  <div fxLayout="column">
    <mat-form-field>
      <mat-label>Group ID</mat-label>
      <input matInput [(ngModel)]="integration.extra.groupID" />
      <mat-hint
        >Navigate to Avatar -> Admin Settings -> Service -> Groups -> Select a Group and you'll see the Group ID in the
        address bar.
      </mat-hint>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Priority</mat-label>
      <mat-select placeholder="Choose priority" [(ngModel)]="integration.extra.priority">
        <mat-option *ngFor="let priority of priorities" [value]="priority.key">{{ priority.value }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="agile-status" floatLabel="always">
      <mat-label>Status</mat-label>
      <mat-select placeholder="Choose status" [(ngModel)]="integration.extra.status">
        <mat-option *ngFor="let status of statuses" [value]="status.key">{{ status.value }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
