<mat-toolbar><h1>Overview</h1></mat-toolbar>
<div *ngIf="!isLoading">
  <ng-container *ngIf="!!sip; else noSip">
    <div fxLayout="column" class="container" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
        <div class="item-left">SIP Label</div>
        <div class="item-right" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.6rem">
          <span>{{ sip.detail?.label }}</span>
          <mat-icon class="icon-action" (click)="editSipLabel()">edit</mat-icon>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
        <div class="item-left">Authentication Mode</div>
        <div class="item-right" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <span>{{ sip?.detail?.config.authenticationMode === AuthenticationMode.IP ? 'IP' : 'Account' }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
        <div class="item-left">Server Location</div>
        <div class="item-right" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <span> {{ ui.pbxConfig?.serverLocation }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
        <div class="item-left">SIP Server</div>
        <div class="item-right" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <span>
            <span *ngFor="let ip of ui.pbxConfig.firewallConfig.signaling.ip">{{ ip }}</span> ({{ ui.subSipDomain }})
          </span>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
        <div class="item-left">CA Certificate</div>
        <div class="item-right" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
          <a href="javascript:void(0)" (click)="getTLSKey(sip)">Get certificate</a>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between top" fxLayoutGap="4px">
        <div fxFlex="150px" class="item-left">Assigned Numbers</div>
        <ng-container *ngIf="assignNumbers.length; else noAssignedNumbers">
          <mat-chip-list>
            <mat-chip *ngFor="let number of assignNumbers" color="primary">
              <span class="number">{{ number }}</span>
            </mat-chip>
          </mat-chip-list>
        </ng-container>
        <ng-template #noAssignedNumbers>
          <div class="item-right">No numbers assigned</div>
        </ng-template>
      </div>
      <mat-divider></mat-divider>
    </div>
  </ng-container>
  <ng-template #noSip>
    <div fxLayout="column" class="sip-account" fxLayoutAlign="center center">
      <h3>No Available SIP</h3>
    </div>
  </ng-template>
</div>
