:host {
    .content-cas-module {
        position: relative;

        mat-icon {
            position: absolute;
            right: -9px;
            top: -7px;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .mat-form-field {
        line-height: 1.5 !important;
    }
}