:host {
  display: block;
}

.user-voice-content {
  mat-form-field {
    width: 100% !important;
    margin-bottom: 1.6rem;
  }

  mat-hint {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
  }

  .fw500 {
    font-weight: 500;
    padding: 1.6rem 0;
  }

  .material-icons {
    font-size: 14px;
    color: #2196f3;
  }
}
