<div class="user-voice-content">
  <mat-form-field>
    <mat-label>subdomain</mat-label>
    <input matInput /> <span matPrefix>https://</span> <span matSuffix>.uservoice.com/</span>
    <mat-hint>Enter the subdomain of your uservoice account.</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email create ticket</mat-label>
    <input matInput />
    <mat-hint>Enter the customer id that was used to create Desk.com cases. You can check with your admin. </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>API Key</mat-label>
    <input matInput />
    <mat-hint
      >From your uservoice portal, go to Settings and select Integrations. Click on Uservoice API Keys then click on Add
      API Key to create a unique key. Copy and paste the key generated.
    </mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>API Secret</mat-label>
    <input matInput />
    <mat-hint
      >From your uservoice portal, go to Settings and select Integrations. Click on Uservoice API Keys then click on Add
      API Key to create a unique key. Copy and paste the key generated.
    </mat-hint>
  </mat-form-field>

  <mat-slide-toggle class="fw500">
    Call Recording Message
    <i
      class="material-icons"
      matTooltip="Enable to include call recording message links in tickets. Applicable only for Call Recording App."
      >info_outline</i
    >
  </mat-slide-toggle>
</div>
