<div sm-component class="ui modal" modal-id="call-recording-custom-storage-modal">
  <i class="close icon"></i>
  <div class="header">Settings</div>

  <div class="content" *ngIf="loading">
    <div class="ui active centered inline loader app-loader"></div>
  </div>

  <div class="content" [ngClass]="{ hidden: loading }">
    <div class="block">
      <div sm-component class="ui tabular menu">
        <a class="item active" data-tab="sftp">SFTP</a>
        <a class="item" data-tab="s3">S3</a>
        <a class="item" data-tab="incoming-call">Call</a>
        <a class="item" data-tab="sdk">SDK</a>
      </div>
      <div class="ui tab bottom active" data-tab="sftp">
        <div class="ui form">
          <div class="two fields">
            <div class="field">
              <label>Host</label>
              <div class="ui fluid input">
                <input type="text" [(ngModel)]="settings.ftpConfig.host" placeholder="192.168.1.100" />
              </div>
            </div>
            <div class="field">
              <label>Port</label>
              <div class="ui fluid input">
                <input type="text" [(ngModel)]="settings.ftpConfig.port" placeholder="22" />
              </div>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Username</label>
              <div class="ui fluid input">
                <input type="text" [(ngModel)]="settings.ftpConfig.username" placeholder="username" />
              </div>
            </div>
            <div class="field">
              <label>Directory</label>
              <div class="ui fluid input">
                <input type="text" [(ngModel)]="settings.ftpConfig.directory" placeholder="/record/store" />
              </div>
            </div>
          </div>
          <div class="field">
            <label>Private key passphrase</label>
            <div class="ui fluid input">
              <input type="password" [(ngModel)]="settings.ftpConfig.passphrase" placeholder="private key passphrase" />
            </div>
          </div>
          <div class="field">
            <label>Private key</label>
            <textarea [(ngModel)]="settings.ftpConfig.privateKey" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="ui tab bottom" data-tab="s3">
        <div class="ui form">
          <div class="field">
            <label>Access Key</label>
            <div class="ui fluid input">
              <input type="password" [(ngModel)]="settings.awsConfig.accessKey" placeholder="Access Key" />
            </div>
          </div>
          <div class="field">
            <label>Secret Access Key</label>
            <div class="ui fluid input">
              <input type="password" [(ngModel)]="settings.awsConfig.secretAccessKey" placeholder="Secret Access Key" />
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>Bucket</label>
              <div class="ui fluid input">
                <input type="text" [(ngModel)]="settings.awsConfig.bucket" placeholder="recording" />
              </div>
            </div>
            <div class="field">
              <label>Region</label>
              <div class="ui fluid input">
                <input type="text" [(ngModel)]="settings.awsConfig.region" placeholder="us-west-1" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui tab bottom" data-tab="incoming-call">
        <div class="ui form">
          <div class="field">
            <label>Call recorded postback API</label>
            <div class="ui fluid input">
              <input
                type="text"
                [(ngModel)]="settings.postbackRecordedUrl"
                placeholder="https://compliance.com/call/record/postback"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="ui tab bottom" data-tab="sdk">
        <div class="ui form">
          <div class="field">
            Download
            <a href="https://app-callrecording-sg.s3.amazonaws.com/callrecording/compliance/sdk/aviva-sdk-1.0.4.zip"
              >compliance SDK 1.0.4 and sample</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="middle aligned floating blocks">
      <div class="block"></div>
      <div class="block">
        <div class="right">
          <div class="ui cancel link button">Cancel</div>
          <div class="ui large primary button" *ngIf="!isSaving" (click)="save()">Update</div>
          <div class="ui large primary button loading" *ngIf="isSaving">Updating</div>
        </div>
      </div>
    </div>
  </div>
</div>
