.ui > .item {
  padding: 15px 10px !important;
  cursor: pointer;
}
.item.active {
  background: #eee;
}
.item .button {
  float: right;
}
.ui.list {
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.centered.column {
  display: inherit !important;
}
.column > title,
.column > .title {
  display: block;
  padding: 15px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.three.column.row > .column {
  border: 1px solid #ddd;
}
