.https-notification {
  mat-hint {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.9);
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  tr {
    text-align: left;
    background: white;

    // &:hover {
    //   background: rgba(0, 0, 0, .1) !important;
    // }
  }

  th,
  td {
    padding: 0.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 1.5rem;
  }

  // th, td:nth-child(2) {
  //   width: 45%;
  // }

  th,
  td:nth-child(1) {
    width: 30%;
  }

  mat-icon {
    color: gray;
    //font-size: 20px;
  }

  table {
    margin-bottom: 2rem;
    margin-top: -1.6rem;
    border-collapse: collapse;

    thead {
      tr {
        height: 56px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 500;
        // background: rgba(0, 0, 0, .1);
      }
    }
  }

  .params-title {
    font-weight: 500;
    margin-top: 1.6rem;
  }

  .suffix-icon {
    margin-bottom: -2rem !important;
  }
}
