.edge-server {
  width: 100vw;
  padding-top: 6.4rem;

  .app-name {
    color: white;
    text-decoration: none !important;
    margin: 0 3.2rem 0 1.6rem;
  }

  .mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 999;

    .mat-button {
      border-radius: 0;
    }

    .active {
      border-bottom: 2px solid white;
    }
  }
}
