:host {
  display: block;

  .call-journey-content {
    padding: 0.35rem 0;

    &__call-icon {
      width: 20px;
      height: 20px;
      margin-right: 0.8rem;
    }

    img {
      width: 20px;
      height: 20px;
      filter: invert(0.5);
      margin-right: 0.8rem;
    }
  }
}
