:host {
  display: block;

  .spinner-container {
    min-height: 400px;
  }

  .webhook {
    margin: auto;

    &__header {
      margin-bottom: 1.6rem;
    }

    &__content {
      table {
        width: 100%;

        .action {
          color: rgba(0, 0, 0, 0.67);
          visibility: hidden;
        }

        tr {
          &:hover {
            background-color: #f0f0f0;

            .action {
              visibility: visible !important;
            }
          }
        }
      }
    }

    pom-action-bar {
      margin-bottom: 1.6rem;
    }

    &__no-config {
      min-height: 500px;
      color: var(--gray-700);

      &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 1.6rem;
      }

      &__message {
        font-size: 20px;
      }
    }
  }
}
