textarea {
  white-space: break-spaces;
  padding: 8px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 11px;
  width: 95%;
  resize: none;
  margin-bottom: 2px;
}
mat-slide-toggle {
  margin-left: 10px;
  margin-top: -3px;
}
.config-raw {
  background-color: #333;
  border-radius: 6px;
  color: white;
}
.header {
  width: 100% !important;
  .mat-icon {
    font-size: 14px;
    color: #424242;
    cursor: pointer;
    margin-left: 2px;
    text-align: end;
  }
}
