.form__wrapper {
  display: flex;
  gap: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.action__wrapper {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: flex-end;
  margin: 10px 0;
}
