<h1 mat-dialog-title>
  <span *ngIf="conversionTarget === 'checking'">Check Consent</span>
  <span *ngIf="conversionTarget === 'published'">Start campaign</span>
  <span *ngIf="conversionTarget === 'finished'">Number list completed</span>
  <span *ngIf="conversionTarget !== 'checking' && conversionTarget !== 'published' && conversionTarget !== 'finished'">
    <span class="first-word">{{ conversionTarget | numberAction }}</span> campaign
  </span>
</h1>

<div mat-dialog-content>
  <div class="dialog-content-container">
    <div *ngIf="conversionTarget === 'checking'">
      <p>
        Do you want to check consent for <strong>{{ numberListData.name }}</strong> ?
      </p>
      <p>You will not be able start/stop it while checking.</p>
    </div>

    <p *ngIf="conversionTarget !== 'checking' && conversionTarget !== Status.finished">
      Do you want to start {{ conversionTarget | numberAction }} 
      <!-- or Schedule -->
      <strong>{{ numberListData.name }}</strong> ? 
      Once the campaign starts, it cannot be stopped.
    </p>

    <p *ngIf="conversionTarget !== 'checking' && conversionTarget === Status.finished">
      Please start with the new campaign or upload new number to the current list then restart again.
    </p>

    <p *ngIf="conversionTarget === 'paused'">After pausing, the numbers will not be dialed out.</p>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <ng-container *ngIf="numberListData.status !== Status.finished">
    <!-- <button mat-raised-button *ngIf="conversionTarget === 'published'" class="secondary" (click)="startSchedule()">
      <span *ngIf="numberListData.listScheduledAt.length > 0"> Reschedule</span>
      <span *ngIf="numberListData.listScheduledAt.length === 0"> Schedule</span>
    </button> -->
    <button mat-raised-button (click)="onUpdate()" color="primary">
      <span *ngIf="!processing" class="first-word">{{ conversionTarget | numberAction }}</span>
      <span *ngIf="processing && conversionTarget === 'published'">Starting...</span>
      <span *ngIf="processing && conversionTarget === 'paused'">Pausing...</span>
      <span *ngIf="processing && conversionTarget === 'checking'">Checking...</span>
    </button>
  </ng-container>
</div>
