<i class="close icon" (click)="openComplianceModal()"></i>
<div class="header">Update form</div>

<div class="content" *ngIf="isLoading == true">
  <div class="ui active centered inline loader app-loader"></div>
</div>

<div class="content" *ngIf="isLoading == false">
  <div *ngIf="showing">
    <div class="ui banner info message">
      <p>
        <i class="publish icon"></i>NEW UPDATE: We've just upgraded Compliance Feature to follow security policy. Now
        you cannot change email after creating.
      </p>
    </div>
  </div>
  <div *ngIf="errors.length > 0">
    <div class="ui banner error message" *ngFor="let error of errors">
      <p><i class="uninstall icon"></i> {{ error }}</p>
    </div>
  </div>
  <div class="ui form transition visible">
    <div class="ui form">
      <div class="field required">
        <label>Name</label>
        <div class="two fields">
          <div class="field">
            <div class="ui fluid input">
              <input type="text" placeholder="Given Name" [(ngModel)]="agent.givenName" />
            </div>
          </div>
          <div class="field">
            <div class="ui fluid input">
              <input type="text" placeholder="Family Name" [(ngModel)]="agent.familyName" />
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <div class="ui fluid input" *ngIf="!isEditing">
          <input type="text" placeholder="user@compliance.com" [(ngModel)]="agent.email" />
        </div>
        <div class="ui fluid input" *ngIf="isEditing">
          <input type="text" placeholder="user@compliance.com" [(ngModel)]="agent.email" disabled />
        </div>
      </div>
      <div class="field required">
        <label>Phone Number</label>
        <div class="ui fluid input">
          <input type="text" placeholder="+65123456789" [(ngModel)]="agent.phoneNumber" />
        </div>
      </div>
      <div class="field">
        <label>Caller Id</label>
        <div class="ui fluid input">
          <input type="text" placeholder="+65123456789" [(ngModel)]="agent.callerId" />
        </div>
      </div>
      <div class="field">
        <label>Role</label>
        <div #dropdownRole class="ui selection dropdown" tabindex="0">
          <input type="hidden" [(ngModel)]="agent.role" /><i class="dropdown icon"></i>
          <div class="text">{{ agent.role }}</div>
          <div class="menu transition hidden" tabindex="-1">
            <div class="item" [attr.data-value]="'MEMBER'">MEMBER</div>
            <div class="item" [attr.data-value]="'AGENT'">AGENT</div>
            <div class="item" [attr.data-value]="'MANAGER'">MANAGER</div>
            <div class="item" [attr.data-value]="'ADMIN'">ADMIN</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="actions" *ngIf="isLoading == false">
  <div class="middle aligned floating blocks">
    <div class="block"></div>
    <div class="block">
      <div class="right">
        <div class="ui cancel link button" (click)="openComplianceModal()">Cancel</div>
        <div class="ui large primary button" (click)="updateMember($event)">Update</div>
      </div>
    </div>
  </div>
</div>
